<br>
<div class="row">
  <div class="col-md-3">
    <div class="mb-3">
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama">
    </div>
    <div *ngIf="filterText.length>2" class="col-md-6 mt-6 mt-3 p-1 alert alert-success">
      "{{filterText}}" Arama sonucu
    </div>
    

    <app-brand></app-brand><br>
    <app-color></app-color>
    
<br>
  </div>

  
  <div class="col-md-9">
  <ul class="preview-thumbnail nav nav-tabs">
    <li *ngFor="let carImage of carImages">
      <a data-target="#{{ carImage.id }}" data-toggle="tab">
        <img
          src="{{ carImageUrlDefault }}{{ carImage.imagePath }}"
          width="300" height="200"
          
        />
      </a>
    </li>
  </ul>

  
  <div class="col-md-9">
    
    <table class="table">
      <thead>
          <tr>       
              <th>Brand</th>
              <th>Color</th>
              <th>Model Year</th>
              <th>Daily Price</th>
              <th>Description</th>
              <th></th>        
          </tr>   
      </thead>
      <tbody>
        <tr *ngFor="let car of carDto">     
         
          <td>{{ car.brandName }}</td>
          <td>{{ car.colorName }}</td>
          <td>{{car.modelYear}}</td>
          <td>{{ car.dailyPrice | currency:"₺"}}</td>
          <td>{{ car.description }}</td>
          <td><button   name="buton" type="button" class="btn btn-primary">Rental</button> </td>      
      </tr>
      </tbody>
    </table>
  </div>


  

  






  
